@font-face {
  font-family: 'Segoe UI';
  src: url(./font/segoe-ui.woff);
}



/* RESTES */

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body, h1, h2, p, img, ul, li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}


/* INICIO */

/* CONTAINER GERAL */
body {
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.instagram-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-left: -31px;
  padding-bottom: 50px;
}

/* INSTAGRAM PHONE */

.instagram-phone {
  display: flex;
  align-items: center;
}

.phone {
  width: 455px;
  height: 603px;
  margin-right: -10px;
}

.phone img:nth-child(1) {
  max-width: 100%;
}

.gif {
  position: relative;
  width: 55%;
  bottom: 525px;
  left: 147px;
}

.gif img {
  width: 100%;
}


/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dbdbdb;
  padding: 10px 0;
  margin-bottom: 10px;
  width: 350px;
  background: white;
}

#logo {
  margin: 22px 0 12px;
}

#profile {
  width: 102px;
  border-radius: 50%;
}


.instagram-login {
  margin-top: 30px;
  display: flex;
  align-items: center;
  height: 80vh;
}

.dados-login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin: 24px auto 0px;
}


.dados-login input {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 25px;
  margin-top: 8px;
  background-color: #0095f6;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.cadastre-se p {
  font-size: 14px;
  margin: 15px auto;
}

.cadastre-se a {
  color: #0095f6;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.infos-1, .infos-2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.infos-2 {
  margin-top: 0px;
}

.infos-1 ul, .infos-2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.infos-1 li, .infos-2 li {
  padding: 0 5px;
  margin-left: 10px;
}

.infos-1 a, .infos-2 a {
  color: #8e8e8e;
  font-size: 12px;
  text-decoration: none;
}

.direitos {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 64px;
}

.direitos select {
  border: none;
  background: transparent;
  margin-right: 10px;
  max-width: 110px;
  color: #8e8e8e;
  font-size: 12px;
  cursor: pointer;
}

.direitos p {
  color: #8e8e8e;
  font-size: 12px;
}


@media (max-width: 875px) {
  
  .instagram-wrap {
      margin-left: 0;
      padding-bottom: 32px;
  }

  .instagram-phone {
      display: none;
  }

  .dados-login input:nth-child(3) {
      padding: 5px 0;
  }

  .instagram-login {
    align-items: center;
    justify-content: center;
  }


  .lojas {
      flex-wrap: wrap;
      justify-content: center;
  }

  footer {
      padding: 0 16px;
  }

  .infos-1 {
      margin-top: 24px;
  }

  .direitos p {
      min-width: 170px;
  }

}

@media (max-width: 450px) {

  body {
      background: #fafafa;
  }

  .instagram-wrap {
      margin-top: 0;
  }

  .instagram-login {
      margin-top: 0;
  }

  .container {
      border: 0;
      width: 100%;
      background: #fafafa;
  }

  infos-1 li, .infos-2 li {
    margin-left: 5px;
}

}

@media (max-width: 278px) {

  .lojas a:nth-child(1) {
      margin-left: 4px;
      margin-bottom: 5px;
  }

  .lojas a:nth-child(2) {
      margin-right: 4px;
  }

  .dados-login {
      justify-content: center;
      margin: 0 auto;
      margin: 24px 0px 0px;
  }


  .opcoes-login p::after, .opcoes-login p::before {
      width: 80px;
  }

}

@media (max-width: 270px) {
  body {
      min-width: 270px;
  }
}